.clockContainer {
  margin: 10vh auto;
  min-width: 300px;
  min-height: 300px;
  width: 40vh;
  height: 40vh;
  border-radius: 300px;
  background: linear-gradient(225deg, #e6e6e6, #fff);
  box-shadow:
    -30px 30px 77px #d9d9d9,
    30px -30px 77px #fff;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 40% 20% 40%;
  justify-content: center;
}

.timerWindow {
  font-size: 2rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerController {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 27px;
  background: linear-gradient(225deg, #fefefe, #d5d5d5);
  box-shadow:
    -17px 17px 35px #c9c9c9,
    17px -17px 35px #fff;
  user-select: none;
}

.controllerButton {
  width: 80px;
  height: 40px;
  border-radius: 27px;
  background: #ededed;
  box-shadow:
    inset -5px 5px 10px #d1d1d1,
    inset 5px -5px 10px #fff;
  border: none;
  margin: 20px;
}

.arrow {
  color: #c6c6c6;
  scale: 1.5;
  

  &:hover {
    color:rgb(5 184 255)
  }
}

.increaseArrowContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.decreaseArrowContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.windowIsActive {
  color: rgb(5 184 255)
}